<h1>WELCOME TO DON RON'S USED CARS<h1>
<h3>Here at RON'S we got all sorts</h3>
<p>Here's one now, look at this beaut:</p>
<p>@Model.GetYear() @Model.GetMake() @Model.GetModel()</p>
<p>With only @Model.GetMiles() for the low low price of @Model.GetCost()</p>
